@model Empleado

<h1 style="color:blue">
    Perfil personal del empleado
</h1>

<ul class="list-group">
    <li class="list-group-item list-group-item-warning">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item list-group-item-warning">
        Oficio: @Model.Oficio
    </li>
    <li class="list-group-item list-group-item-success">
        Salario: @Model.Salario
    </li>
    <li class="list-group-item list-group-item-warning">
        Departamento: @Model.Departamento
    </li>
</ul>