@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="PerfilEmpleado"
           class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Manage"
           asp-action="LogOut"
           class="nav-link">
            Log Out <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
    @if (Context.User.IsInRole("PRESIDENTE"))
    {
        <li class="nav-item">
            <a asp-controller="Empleados"
               asp-action="PerfilEmpleado"
               class="nav-link">
                Despedir
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Empleados"
               asp-action="PerfilEmpleado"
               class="nav-link">
                Robar
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Empleados"
               asp-action="PerfilEmpleado"
               class="nav-link">
                Montar un estadio
            </a>
        </li>
    }
}